body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #2e2f42;
}

.logo {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.web {
  color: #4d5ae5;
}

.list {
  list-style-type: none;
}

.nav-link {
  color: #2e2f42;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em
}

.nav-link:hover,
.nav-link:focus {
  color:#404BBF;
}

.contacts {
  font-style: normal;
  text-decoration: none;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
  color:#404BBF;
}

.section-1 {
  background: #2e2f42;
}

.section-1-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.section-1-button {
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.section-1-button:hover,
.section-1-button:focus {
  background:#404BBF;
}

.h2-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.h3-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02;
}

.text {
  color:#434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.ft-section {
  background:#2E2F42;
}

.studio {
  color:#F4F4FD;
}

.ft-text {
  color:#F4F4FD;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}